* {
  margin: 0px;
}

a {
  margin: 10px;
}

.Home-Page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 25px;
}

.Home-Title {
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: rgb(81, 243, 255);
  width: 300px;
}

.Home-Post {
  border-radius: 8px;
}

.AllPosts {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 25px;
}

.Posts {
  display: flex;
  flex-wrap: wrap;
}

.Post-Header {
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: rgb(81, 243, 255);
  width: 300px;
}

.navigation {
  display: flex;
  justify-content: center;
  background-color: rgb(210, 210, 210);
  border-bottom: 2px solid grey;
  height: 30px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  width: 50%;
  margin-right: 10px;
  margin-left: 5px;
}

.nav-user {
  text-align: right;
  width: 50%;
}

.RegisteredPosts {
  padding: 5px;
  width: 325px;
  height: 200px;
  overflow-y: auto;
  background-color: blueviolet;
  color: bisque;
  margin: 5px;
  border-radius: 8px;
}

.IndividualPost {
    padding: 5px;
    overflow-y: auto;
    background-color: blueviolet;
    color: bisque;
    margin: 5px;
    border-radius: 8px;
}

.Edit-Form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: lightgrey;
  padding: 15px;
}

.MessageLog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: antiquewhite;
  border: 2px solid black;
  width: 430px;
  border-radius: 8px;
  margin-left: 5px;
}

.Edit-Page {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 8px;
  width: 430px;
  margin-top: 15px;
  margin-left: 5px;
}

.Send-Message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: antiquewhite;
  border: 2px solid black;
  width: 430px;
  border-radius: 8px;
  margin-left: 5px;
}

.Login {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: lightgrey;
  padding: 15px;
}